 
body {
    background-color: black !important;
    color: white !important;
    font-family: 'Crete Round', serif !important;
    font-size: 1.2rem !important;
}

.main-container {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

